$primary_color: #2431a1;
$grey: #313131;

@font-face {
  font-family: "punjabi";
  src: url("../fonts/anmollipi-webfont.woff2") format("woff2"),
    url("../fonts/anmollipi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary_color;
  font-weight: 400;
}

.punjabi {
  font-family: punjabi;
  font-size: 18px;
}

.image {
  background-color: #f5f6e4;
  // padding-top: 105px; 
  img {
    margin: auto;
    display: block;
  }
}
nav.navbar {
  padding-top: 0 !important;
  // position: fixed !important;
  width: 100%;
  z-index: 999999999;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 60px 0px #ccc;
  background: transparent !important;
  .navbar-brand {
    padding-bottom: 0 !important;
    img {
      max-width: 112px;
    }
  }
  form {
   .links {
    a {
        color: #fff;
        height: 30px;
        display: inline-block;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        background: $primary-color;
        margin-right: 8px;
        margin-top: 4px;
        transition: all 0.5 ease-in-out;
        &:hover {
        transition: all 0.5 ease-in-out;
            color: #ffffff;
            background: darken($primary-color, 10);
        }
      }
   }
  }
}
.headline {
  h2 {
    small {
      font-size: 18px;
    }
  }
  p {
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
}
.formm {
    max-width: 600px;
    text-align: center;
    margin: auto;
}
.links {
    a {
        color: #fff;
        height: 30px;
        display: inline-block;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        background: $primary-color;
        margin-right: 8px;
        margin-top: 4px;
        transition: all 0.5 ease-in-out;
        &:hover {
        transition: all 0.5 ease-in-out;
            color: #ffffff;
            background: darken($primary-color, 10);
        }
      }
}

.voluntear-section{
  padding: 40px!important;
  background-color: rgba(23,97,253,0.1);
  color: #ffffff!important;
  text-align: center;
  .volunteer-btn{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #6394f7;
    color: white;
    border: 1px solid;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
  
}

.fa-location-arrow{
  font-size: 20px;
}
.mr-80{
  margin-right: 80px;
}
.sub-footer{
    color: #75b1e3;
    border-top: 2px solid #f1f1f1;
    padding-top: 2rem!important;
  padding-bottom: 0rem!important;
}
.d-inline-flex{
  display: inline-flex;
}
footer {
  color: #ffffff;
    background: #75b1e3;
}

@media screen and (max-width:991px) {
  nav .navbar-brand img {
    max-width: 82px;
  }
  .links a {
    margin-right: 0;
  }
  .navbar-collapse .links {
    display: none;
  }
}
@media screen and (min-width:992px) {
  .links.mobile {
    display: none;
  }
}